# Visual Studio / .NET
.vs/
*.suo
*.user
*.userosscache
*.sln.ide

# Compilados y temporales
[Bb]in/
[Oo]bj/
**/Debug/
**/Release/
*.exe
*.pdb
*.cache
*.FileListAbsolute.txt

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
*.nuget.props
*.nuget.targets

# Pruebas y cobertura
TestResult*/
*.coverage
*.trx

# Misceláneos
*.log
Thumbs.db
.DS_Store
